conf/redserver
[
    {
        "id": "b8df6d3f.fd7a3",
        "type": "http in",
        "z": "e6df7b90.e00eb8",
        "name": "Work Translate",
        "url": "/work",
        "method": "post",
        "swaggerDoc": "",
        "x": 121,
        "y": 113,
        "wires": [
            [
                "9a031e35.d872c"
            ]
        ]
    },
    {
        "id": "22f1b876.59d008",
        "type": "debug",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 368,
        "y": 237,
        "wires": []
    },
    {
        "id": "c9aa5c1.1fc11a",
        "type": "http response",
        "z": "e6df7b90.e00eb8",
        "name": "Work response",
        "x": 638,
        "y": 164,
        "wires": []
    },
    {
        "id": "755ae138.26afb",
        "type": "http in",
        "z": "e6df7b90.e00eb8",
        "name": "Home Translate",
        "url": "/home",
        "method": "post",
        "swaggerDoc": "",
        "x": 120,
        "y": 404,
        "wires": [
            [
                "c99bd410.085048"
            ]
        ]
    },
    {
        "id": "4682779c.decd78",
        "type": "http response",
        "z": "e6df7b90.e00eb8",
        "name": "Home response",
        "x": 639,
        "y": 451,
        "wires": []
    },
    {
        "id": "c99bd410.085048",
        "type": "change",
        "z": "e6df7b90.e00eb8",
        "name": "Get \"value1\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 404,
        "wires": [
            [
                "4682779c.decd78",
                "afff26b5.064a98"
            ]
        ]
    },
    {
        "id": "9a031e35.d872c",
        "type": "change",
        "z": "e6df7b90.e00eb8",
        "name": "Get \"value1\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 114,
        "wires": [
            [
                "c9aa5c1.1fc11a",
                "a626a5c3.461258"
            ]
        ]
    },
    {
        "id": "ce923857.3c3118",
        "type": "comment",
        "z": "e6df7b90.e00eb8",
        "name": "Work and home translators",
        "info": "Designed to work with IFTTT, will translate the\nmessage in the form of a JSON object containing:\n{value1:<val>,value2:<val2>}. Only the first\nvalue will be taken to support the \"entered\" or\n\"exited\" perspective of IFTTT in the mobile phone.\n\nFor any http request. The last element of the log\nfile will be returned. This will translate all\nmessages got/written to mqtt.",
        "x": 401,
        "y": 64,
        "wires": []
    },
    {
        "id": "a626a5c3.461258",
        "type": "mqtt out",
        "z": "e6df7b90.e00eb8",
        "name": "WMQTT",
        "topic": "/personal/atwork",
        "qos": "2",
        "retain": "true",
        "broker": "28c44c85.85a9f4",
        "x": 619,
        "y": 115,
        "wires": []
    },
    {
        "id": "afff26b5.064a98",
        "type": "mqtt out",
        "z": "e6df7b90.e00eb8",
        "name": "HMQTT",
        "topic": "/personal/athome",
        "qos": "2",
        "retain": "true",
        "broker": "28c44c85.85a9f4",
        "x": 619,
        "y": 405,
        "wires": []
    },
    {
        "id": "b811c5d7.33f708",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/personal/atwork",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 121,
        "y": 193,
        "wires": [
            [
                "22f1b876.59d008",
                "2a04233f.6df32c"
            ]
        ]
    },
    {
        "id": "22b82975.a68ad6",
        "type": "debug",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 365,
        "y": 534,
        "wires": []
    },
    {
        "id": "540c16d.e4aede8",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/personal/athome",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 125,
        "y": 486,
        "wires": [
            [
                "22b82975.a68ad6",
                "6349e670.cb3148"
            ]
        ]
    },
    {
        "id": "6349e670.cb3148",
        "type": "file",
        "z": "e6df7b90.e00eb8",
        "name": "Home logfile",
        "filename": "/home/ec2-user/log/mqtt_home.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 368,
        "y": 486,
        "wires": []
    },
    {
        "id": "2a04233f.6df32c",
        "type": "file",
        "z": "e6df7b90.e00eb8",
        "name": "Work logfile",
        "filename": "/home/ec2-user/log/mqtt_work.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "x": 369,
        "y": 193,
        "wires": []
    },
    {
        "id": "ec63f2a4.f003e",
        "type": "http in",
        "z": "e6df7b90.e00eb8",
        "name": "Work Get",
        "url": "/work",
        "method": "get",
        "swaggerDoc": "",
        "x": 102,
        "y": 298,
        "wires": [
            [
                "a2220bba.eeb008"
            ]
        ]
    },
    {
        "id": "a2220bba.eeb008",
        "type": "exec",
        "z": "e6df7b90.e00eb8",
        "command": "/usr/bin/tail",
        "addpay": false,
        "append": "-n 1 /home/ec2-user/log/mqtt_work.log",
        "useSpawn": false,
        "timer": "",
        "name": "Tail work log",
        "x": 290,
        "y": 296.5,
        "wires": [
            [
                "3c4f8b5d.cb67b4"
            ],
            [],
            []
        ]
    },
    {
        "id": "675c0b9c.9ef0b4",
        "type": "http response",
        "z": "e6df7b90.e00eb8",
        "name": "Work response",
        "x": 713,
        "y": 283,
        "wires": []
    },
    {
        "id": "b4b6651.8436598",
        "type": "http in",
        "z": "e6df7b90.e00eb8",
        "name": "Home Get",
        "url": "/home",
        "method": "get",
        "swaggerDoc": "",
        "x": 102,
        "y": 608,
        "wires": [
            [
                "d6510b2d.2d5928"
            ]
        ]
    },
    {
        "id": "d6510b2d.2d5928",
        "type": "exec",
        "z": "e6df7b90.e00eb8",
        "command": "/usr/bin/tail",
        "addpay": false,
        "append": "-n 1 /home/ec2-user/log/mqtt_home.log",
        "useSpawn": false,
        "timer": "",
        "name": "Tail home log",
        "x": 302,
        "y": 608.5,
        "wires": [
            [
                "95841ad8.3804c8"
            ],
            [],
            []
        ]
    },
    {
        "id": "53271d0e.9eff84",
        "type": "http response",
        "z": "e6df7b90.e00eb8",
        "name": "Home response",
        "x": 720,
        "y": 595,
        "wires": []
    },
    {
        "id": "95841ad8.3804c8",
        "type": "function",
        "z": "e6df7b90.e00eb8",
        "name": "JSON construct",
        "func": "// Build a JSON object, trim deletes the new line\nmsg.payload = {payload: msg.payload.trim()};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 509,
        "y": 595,
        "wires": [
            [
                "53271d0e.9eff84"
            ]
        ]
    },
    {
        "id": "3c4f8b5d.cb67b4",
        "type": "function",
        "z": "e6df7b90.e00eb8",
        "name": "JSON construct",
        "func": "// Build a JSON object, trim deletes the new line\nmsg.payload = {payload: msg.payload.trim()};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 503,
        "y": 283,
        "wires": [
            [
                "675c0b9c.9ef0b4"
            ]
        ]
    },
    {
        "id": "4b44f82b.b4edd8",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/pi/work/cputemp",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 90,
        "y": 776,
        "wires": [
            [
                "4e7e3576.00029c",
                "210a7ffe.8e1be"
            ]
        ]
    },
    {
        "id": "621e1b03.bdd694",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/pi/work/cpuuse",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 90,
        "y": 837,
        "wires": [
            [
                "7405bb09.a73ac4",
                "130588d6.f4b647"
            ]
        ]
    },
    {
        "id": "d3a44992.e848f8",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/pi/work/memuse",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 91,
        "y": 926,
        "wires": [
            [
                "9ecfbe8f.3470e",
                "cd7e378f.8821c8"
            ]
        ]
    },
    {
        "id": "4e7e3576.00029c",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Temp",
        "group": "9691b146.96aa7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "CPU Temperature [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 353,
        "y": 776,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7405bb09.a73ac4",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Usage",
        "group": "9691b146.96aa7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CPU usage [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 353,
        "y": 846,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9ecfbe8f.3470e",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Mem Usage",
        "group": "9691b146.96aa7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Memory Usage [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 357,
        "y": 927,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8517cabf.bcaf18",
        "type": "comment",
        "z": "e6df7b90.e00eb8",
        "name": "Work and home stadistics",
        "info": "Dashboard getting information about sensors and data\nusing MQTT",
        "x": 416,
        "y": 696,
        "wires": []
    },
    {
        "id": "210a7ffe.8e1be",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Temperature",
        "group": "58b00f22.d0fbd",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 373,
        "y": 743,
        "wires": []
    },
    {
        "id": "130588d6.f4b647",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Usg",
        "group": "58b00f22.d0fbd",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Usage",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 342,
        "y": 810,
        "wires": []
    },
    {
        "id": "cd7e378f.8821c8",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Memory Usg",
        "group": "58b00f22.d0fbd",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory Usage",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 357,
        "y": 889,
        "wires": []
    },
    {
        "id": "ad5bbf14.42998",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/sensors/work/temp",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 98,
        "y": 1015,
        "wires": [
            [
                "1e5a4f9d.43fb9",
                "14668ea0.3ce401"
            ]
        ]
    },
    {
        "id": "1e5a4f9d.43fb9",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Office temperature",
        "group": "58b00f22.d0fbd",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Office temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 368,
        "y": 1016,
        "wires": []
    },
    {
        "id": "14668ea0.3ce401",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Office temp",
        "group": "9691b146.96aa7",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "OfficeTemperature [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 347,
        "y": 1054,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "797150bf.28fe5",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Office humidity",
        "group": "58b00f22.d0fbd",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Office humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 355,
        "y": 1106,
        "wires": []
    },
    {
        "id": "5864772f.b91c68",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/sensors/work/hum",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 95,
        "y": 1105,
        "wires": [
            [
                "797150bf.28fe5",
                "d569fe67.68f2c"
            ]
        ]
    },
    {
        "id": "d569fe67.68f2c",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Office hum",
        "group": "9691b146.96aa7",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Office Humidity [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 344,
        "y": 1144,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "91c28d88.142c2",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/sensors/work/alert",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 95,
        "y": 1205,
        "wires": [
            [
                "14357483.f8e4fb",
                "45d54646.678a38"
            ]
        ]
    },
    {
        "id": "14357483.f8e4fb",
        "type": "ui_audio",
        "z": "e6df7b90.e00eb8",
        "name": "Alert",
        "group": "58b00f22.d0fbd",
        "voice": "2",
        "always": "",
        "x": 332,
        "y": 1204,
        "wires": []
    },
    {
        "id": "f2197c7f.0e34e",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Alert",
        "group": "58b00f22.d0fbd",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Alert",
        "label": "Alert",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 450,
        "y": 1253,
        "wires": []
    },
    {
        "id": "45d54646.678a38",
        "type": "function",
        "z": "e6df7b90.e00eb8",
        "name": "convert",
        "func": "if (msg.payload == \"alert\") {\n    msg.payload = 1\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 312,
        "y": 1253,
        "wires": [
            [
                "f2197c7f.0e34e",
                "811130d1.454e6"
            ]
        ]
    },
    {
        "id": "6e433be1.9d24d4",
        "type": "inject",
        "z": "e6df7b90.e00eb8",
        "name": "10 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 69,
        "y": 1270,
        "wires": [
            [
                "45d54646.678a38"
            ]
        ]
    },
    {
        "id": "811130d1.454e6",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Alert",
        "group": "9691b146.96aa7",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Alert",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 452,
        "y": 1298,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "27c06577.cd48aa",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/pi/home/cputemp",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 673,
        "y": 770,
        "wires": [
            [
                "3e38e64a.2bc96a",
                "eb8d506b.894f4"
            ]
        ]
    },
    {
        "id": "298bd6ef.4ce81a",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/pi/home/cpuuse",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 663,
        "y": 831,
        "wires": [
            [
                "cc39dde3.e9bcc",
                "cfe66505.fa6278"
            ]
        ]
    },
    {
        "id": "85a66d0f.4d3d9",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/pi/home/memuse",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 674,
        "y": 920,
        "wires": [
            [
                "a25b2a35.805f88",
                "154615a3.2ee7ba"
            ]
        ]
    },
    {
        "id": "3e38e64a.2bc96a",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Temp",
        "group": "7d126040.628ee",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "CPU Temperature [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "10",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 926,
        "y": 770,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cc39dde3.e9bcc",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Usage",
        "group": "7d126040.628ee",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CPU usage [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 926,
        "y": 840,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a25b2a35.805f88",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Mem Usage",
        "group": "7d126040.628ee",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Memory Usage [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 930,
        "y": 921,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "eb8d506b.894f4",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Temperature",
        "group": "dffc02dc.83ae",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 946,
        "y": 737,
        "wires": []
    },
    {
        "id": "cfe66505.fa6278",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "CPU Usg",
        "group": "dffc02dc.83ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU Usage",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 915,
        "y": 804,
        "wires": []
    },
    {
        "id": "154615a3.2ee7ba",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Memory Usg",
        "group": "dffc02dc.83ae",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Memory Usage",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 930,
        "y": 883,
        "wires": []
    },
    {
        "id": "24f059f.151e8a6",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/sensors/home/temp",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 671,
        "y": 1009,
        "wires": [
            [
                "d52d6945.06dc58",
                "ca7d23b0.c9248"
            ]
        ]
    },
    {
        "id": "d52d6945.06dc58",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Home temperature",
        "group": "dffc02dc.83ae",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Home temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 941,
        "y": 1010,
        "wires": []
    },
    {
        "id": "ca7d23b0.c9248",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Home temp",
        "group": "7d126040.628ee",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Home Temperature [°C]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 920,
        "y": 1048,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fc1495b6.15f898",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Home humidity",
        "group": "dffc02dc.83ae",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Home humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 928,
        "y": 1100,
        "wires": []
    },
    {
        "id": "6cfe2185.662e6",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/sensors/home/hum",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 668,
        "y": 1099,
        "wires": [
            [
                "fc1495b6.15f898",
                "d9715932.c568c8"
            ]
        ]
    },
    {
        "id": "d9715932.c568c8",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Home hum",
        "group": "7d126040.628ee",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Home Humidity [%]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 917,
        "y": 1138,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d4e402ce.58881",
        "type": "mqtt in",
        "z": "e6df7b90.e00eb8",
        "name": "",
        "topic": "/sensors/home/alert",
        "qos": "2",
        "broker": "28c44c85.85a9f4",
        "x": 668,
        "y": 1199,
        "wires": [
            [
                "e308bfb6.89f52",
                "7fead862.815b18"
            ]
        ]
    },
    {
        "id": "e308bfb6.89f52",
        "type": "ui_audio",
        "z": "e6df7b90.e00eb8",
        "name": "Alert",
        "group": "dffc02dc.83ae",
        "voice": "2",
        "always": "",
        "x": 905,
        "y": 1198,
        "wires": []
    },
    {
        "id": "2f212d45.eaa4b2",
        "type": "ui_gauge",
        "z": "e6df7b90.e00eb8",
        "name": "Alert",
        "group": "dffc02dc.83ae",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Alert",
        "label": "Alert",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 1023,
        "y": 1247,
        "wires": []
    },
    {
        "id": "7fead862.815b18",
        "type": "function",
        "z": "e6df7b90.e00eb8",
        "name": "convert",
        "func": "if (msg.payload == \"alert\") {\n    msg.payload = 1\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 885,
        "y": 1247,
        "wires": [
            [
                "2f212d45.eaa4b2",
                "90b506de.b728d8"
            ]
        ]
    },
    {
        "id": "80667da5.93d04",
        "type": "inject",
        "z": "e6df7b90.e00eb8",
        "name": "10 sec",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 642,
        "y": 1264,
        "wires": [
            [
                "7fead862.815b18"
            ]
        ]
    },
    {
        "id": "90b506de.b728d8",
        "type": "ui_chart",
        "z": "e6df7b90.e00eb8",
        "name": "Alert",
        "group": "7d126040.628ee",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Alert",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "x": 1025,
        "y": 1292,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "28c44c85.85a9f4",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "9691b146.96aa7",
        "type": "ui_group",
        "z": "",
        "name": "Historical",
        "tab": "6f4b6ac1.651194",
        "order": 1,
        "disp": true,
        "width": "16"
    },
    {
        "id": "58b00f22.d0fbd",
        "type": "ui_group",
        "z": "",
        "name": "RT",
        "tab": "c8644b46.1db1d8",
        "order": 1,
        "disp": true,
        "width": "10"
    },
    {
        "id": "7d126040.628ee",
        "type": "ui_group",
        "z": "",
        "name": "iot",
        "tab": "a0c7490d.c73348",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "dffc02dc.83ae",
        "type": "ui_group",
        "z": "",
        "name": "iot",
        "tab": "e3e0c214.e249d",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "6f4b6ac1.651194",
        "type": "ui_tab",
        "z": "",
        "name": "Work Hist",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "c8644b46.1db1d8",
        "type": "ui_tab",
        "z": "",
        "name": "Work",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a0c7490d.c73348",
        "type": "ui_tab",
        "z": "",
        "name": "Home Hist",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "e3e0c214.e249d",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 3
    }
]
